In [124]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

# Scrape mars.nasa.gov for most recent article info

In [125]:
# Scrape the url provided
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)

# Parse the webpage's html
soup = bs(response.text, 'html.parser')

# Used print(soup.prettify()) to observe html

# Extract Title and Description of first article from html
title = soup.find(class_='content_title').text.strip()
description = soup.find(class_='rollover_description_inner').text.strip()

# Print Results
print(f'Title: "{title}"')
print(f'Description: "{description}"')

Title: "NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes"
Description: "After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer."

# Scrape jpl.nasa.gov images for featured Mars image

In [126]:
# Scrape the url provided
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
response = requests.get(url)

# Parse the webpage's html
soup = bs(response.text, 'html.parser')

# Used print(soup.prettify()) to observe html

# Identify the footer of the html
image_url = soup.footer.a.get('data-fancybox-href')

featured_image_url = 'https://www.jpl.nasa.gov' + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18048_ip.jpg

# Scrape twitter.com for latest Mars weather tweet

In [127]:
# Scrape the url provided
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)

# Parse the webpage's html
soup = bs(response.text, 'html.parser')

# Used print(soup.prettify()) to observe html

# Identify necessary html to pull data from
mars_weather = soup.find(class_='js-tweet-text-container').p.text.strip()

print(mars_weather)

InSight sol 485 (2020-04-07) low -93.4ºC (-136.1ºF) high -7.0ºC (19.4ºF)
winds from the WNW at 5.2 m/s (11.5 mph) gusting to 17.4 m/s (38.9 mph)
pressure at 6.50 hPapic.twitter.com/lSCXda8hgu

# Scrape space-facts.com for Mars facts table

In [128]:
# Scrape the url provided
url = 'https://space-facts.com/mars/'
response = requests.get(url)

# Parse the webpage's html
soup = bs(response.text, 'html.parser')

# Use Panda's `read_html` to parse the url
table = pd.read_html(url)

# After observing all tables resulting from above call,
# we found that the third table was the one we wanted (table[2])
table = table[2]

# Reset Index and delete extra row it creates, then rename columns, and display
table.set_index(table[0], inplace=True)
del table[0]
table.index.name = ''
table.columns = ['Mars Facts']
display(table)

# Convert table to HTML
html_table = table.to_html()
print(html_table)

                                         Mars Facts

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars Facts</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>